<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 작성</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<h1>게시글 작성</h1>
<form action="/board/add" method="post">
  <div>
    <label>제목</label><br>
    <input type="text" name="title" required>
  </div>
  <div>
    <label>작성자</label><br>
    <input type="text" name="writer" required>
  </div>
  <div>
    <label>내용</label><br>
    <textarea name="content" rows="5" required></textarea>
  </div>
  <br>
  <button type="submit">등록</button>
  <a href="/board">취소</a>
</form>
</body>
</html>
