<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 등록</title>
</head>
<body>
<h1>게시글 작성</h1>
<form action="/board/add" method="post">
  <div>
    <label>제목</label>
    <input type="text" name="title" />
  </div>
  <div>
    <label>내용</label>
    <textarea name="content"></textarea>
  </div>
  <div>
    <label>작성자</label>
    <input type="text" name="writer" />
  </div>
  <button type="submit">등록</button>
</form>
<script>
  const form = document.getElementById('boardForm');
  form.addEventListener('submit', function(e) {
    const title = form.title.value;
    if (!title.trim()) {
      alert("제목은 필수입니다.");
      e.preventDefault(); // 제출 막기
    }
  });
</script>
</body>
</html>